<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Comprar Megas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h1>Megas Diários Vodacom</h1>

  <div class="pacote"><strong>1200MB</strong>20 MT</div>
  <div class="pacote"><strong>1500MB</strong>25 MT</div>
  <div class="pacote"><strong>1800MB</strong>30 MT</div>
  <div class="pacote"><strong>2450MB</strong>40 MT</div>

  <h2>Enviar comprovativo</h2>

  <form method="POST" action="/upload" enctype="multipart/form-data">
    <label>Comprovativo</label>
    <input type="file" name="comprovativo" required>

    <button type="submit">Enviar</button>
  </form>
</div>

</body>
</html>
