<div class="container">
<h2>Login Administrador</h2>
<form method="POST" action="/login-admin">
<input name="usuario" placeholder="Usuário" required><br><br>
<input name="senha" type="password" placeholder="Senha" required><br><br>
<button>Entrar</button>
</form>
</div>
