<div class="container">
<h2>Login Cliente</h2>
<form method="POST" action="/login-cliente">
<input name="numero" placeholder="Digite seu número Vodacom" required><br><br>
<button>Entrar</button>
</form>
</div>
