<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Login Cliente</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Megas Diário da Vodacom</h2>

<p>
Por favor faça login para poder comprar os megas diários da Vodacom.<br>
Depois envie o comprovativo da transferência.
</p>

<form method="POST" action="/login">
  <label>Número que vai receber os megas</label><br>
  <input type="text" name="numero" required><br><br>
  <button type="submit">Entrar</button>
</form>

</body>
</html>
