<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Login Cliente</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
  <h1>Login do Cliente</h1>

  <p>
    Por favor faça login para poder comprar os megas diários da Vodacom.<br>
    Depois envie o comprovativo da transferência.
  </p>

  <form method="POST" action="/login">
    <label>Número de telefone</label>
    <input type="number" name="telefone" placeholder="84xxxxxxxx" required>

    <button type="submit">Entrar</button>
  </form>
</div>

</body>
</html>
